<%= content_for(:breadcrumb) do %>
  <div class="span6">
    <ul class="breadcrumb">
      <li><%= link_to current_user.to_s, [current_user] %><span class="divider">/</span></li>
      <li><%= link_to t('tasks'), [current_user,:assigned_tasks] %><span class="divider">/</span></li>
      <% if resource.new_record? %>
        <li class="active"><%= t('new') %></li>
      <% else %>
        <li><%= link_to resource, [current_user,resource] %><span class="divider">/</span></li>
        <li class="active"><%= t('edit') %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [parent,resource], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :task_title, as: "string", input_html: {class: "live-search", 'data-url' => tasks_path(:json)} %>
  <%= f.input :reminder_frequency, hint: t('in_minutes'), input_html: {step: 15} %>
  
  <% Time.use_zone(current_user.time_zone) do %>
    <%= f.input :starts_at_zone, as: :datetime, order: [:month, :day, :year], ampm: true, minute_step: 15, input_html: {class: "input-small" } %>
  <% end %>
  
  
  
  <div class="control-group integer required assigned_task_recurring_rule">
    <label class="integer required control-label" for="assigned_task_recurring_rule">
      <abbr title="required">*</abbr> Recurs
    </label>
    <div class="controls">
      <%= f.select_recurring :recurring_rule %>
    </div>
  </div>
  
  <%= f.association :networks, as: :check_boxes %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
