<%- model_class = AssignedTask -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @assigned_task.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:task_id) %>:</strong></dt>
  <dd><%= @assigned_task.task_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reminder_frequency) %>:</strong></dt>
  <dd><%= @assigned_task.reminder_frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:completed_at) %>:</strong></dt>
  <dd><%= @assigned_task.completed_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remind_at) %>:</strong></dt>
  <dd><%= @assigned_task.remind_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              assigned_tasks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assigned_task_path(@assigned_task), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              assigned_task_path(@assigned_task),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
